- @users.each do |user|
  .card{:style => "width: 18rem;"}
    .card-body
      %h5.card-title
        = user.login
      %p.card-text
        = user.email
      = link_to 'Profile', user_path(user), class: "btn btn-primary"
      - if can? :manage, user
        = link_to 'Edit', edit_user_path(user), class: "btn btn-primary"
      - if can? :destroy, user
        = link_to "Delete", user_path(user), method: :delete, data: {confirm: "Really delete the user?"}, class: "btn btn-primary"