%div{:id => "comment_#{comment.id}"}
  .card.w-75
    .card-body
      %small
        Comment by #{comment_author(comment)}
      %p.card-text= comment.body
      %small
        Commented #{distance_of_time_in_words(comment.created_at, Time.now)} ago
      - if can? :manage, comment
        %br/
        = link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Really delete the comment?"}, class: "btn btn-primary", remote: true
