%strong Image:
%br
= image_tag @post.image unless @post.image.blank?
%br
%strong Text:
%br
= @post.text
%br
%div{:id => "buttons"}
  = link_to 'Edit', edit_post_path(@post)
  |
  = link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Really delete the post?"}
%br
%div{:id => "comments"}
  = render partial: 'posts/comment', collection: @post.comments.reverse
%div{:id => "new-comments"}
  = render partial: 'comments/form', post: @post
