%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'Billboard', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      - if user_signed_in?
        = link_to 'Users', users_path, class: "nav-item nav-link"
        = link_to 'Posts', root_path, class: "nav-item nav-link"
        = link_to 'My Profile', edit_user_registration_path, class: "nav-item nav-link"
        = link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-item nav-link"
      - else
        = link_to 'Log in', new_user_session_path, class: "nav-item nav-link"
        = link_to 'Sign up', new_user_registration_path, class: "nav-item nav-link"
